/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Quicksand', sans-serif;
}
h2,
h3,
h4,
h5 {
  font-family: 'Arvo', serif;
  color: #3f3d56;
}
h1 {
  font-size: 4.5rem;
  color: #ff6584;
  margin: 65px;
  text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 700;
}
@media (max-width: 500px) {
  h1 {
    width: 60%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  h1 {
    width: 60%;
    text-align: center;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 160px;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}
.nav-container {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #3f3d56;
  background: #ff6584;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
}
@media (max-width: 500px) {
  .nav-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.nav-container .navlogo {
  width: 44%;
  padding-left: 15%;
}
@media (max-width: 500px) {
  .nav-container .navlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    margin-left: 24%;
  }
}
.nav-container .navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 500px) {
  .nav-container .navigation {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .nav-container .navigation nav {
    margin-top: -1%;
  }
}
.nav-container .navigation a {
  text-decoration: none;
  font-size: 2rem;
  color: #676678;
  margin: 0px 10px;
}
@media (max-width: 500px) {
  .nav-container .navigation a {
    padding-bottom: 30px;
  }
}
.footer {
  width: 100%;
  border-top: 2px dotted #676678;
  background: #dddded;
}
.footer p {
  text-align: center;
  color: #ff6584;
  font-size: 1.6rem;
  padding: 20px;
}
.home .header {
  width: 100%;
  display: block;
}
.home .header .img {
  margin-bottom: 20px;
}
.home .content-section {
  margin: 56px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .home .content-section {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    margin-bottom: 60px;
  }
}
@media (max-width: 800px) {
  .home .content-section .text-content {
    width: 100%;
    margin-bottom: 60px;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .inverse-content {
  margin-bottom: 55px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .home .inverse-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .home .inverse-content .text-content {
    width: 100%;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .home .inverse-content .img-content {
    width: 100%;
  }
}
.home .cta {
  width: 100%;
  margin: 0 auto 30px;
  display: flex;
}
.home .cta .text-content {
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .cta .text-content {
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 800px) {
  .home .cta .text-content {
    margin: 0 auto;
  }
}
.home .cta .text-content h2 {
  display: flex;
  justify-content: center;
}
.home .cta .buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.home .cta .btn {
  width: 400px;
  background: #ff6584;
  color: #3f3d56;
  text-align: center;
  font-size: 1.8rem;
  height: 40px;
  border-radius: 10px;
  padding-top: 4px;
  margin-top: 20px;
  cursor: pointer;
}
.home .cta .btn:hover {
  background: #3f3d56;
  color: #ff6584;
}
