// Colors

@primrose: #dee794;
@wistful: #aba9d3;
@topaz: #858390;
@wild-watermelon: #ff6584;
//remove
@silver: #dddded;
@gunpowder: #3f3d56;
@concrete: #f2f2f2;
@amethyst-smoke: #9898bd;
@dolphin: #676678;

@font-color: @gunpowder;
@h1-color: @wild-watermelon;
@background:@primrose;
@button-main: @wild-watermelon;
@button-hover: @primrose;
@nav-link: @dolphin;
@nav-hover: @wild-watermelon;

@mobile: `"(max-width: 500px)";
