// Colors

@primrose: #dee794;
@wistful: #aba9d3;
@topaz: #858390;
@wild-watermelon: #ff6584;
@snuff: #dddded;
@silver: #cccccc;
@gunpowder: #3f3d56;
@concrete: #f2f2f2;
@amethyst-smoke: #9898bd;
@dolphin: #676678;

@mobile: `"(max-width: 500px)";
